
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');




*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

body {
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    

}

.game-board {

width: 100%;
height: 500px;
border-bottom: 15px solid rgb(35, 160, 35);
margin: 0 auto;
position: relative;
overflow: hidden;
background: linear-gradient(#87CEEB,#E0F6FF);
}

.score{
position: absolute;
top: 30px;
left: 0%;
font-size:x-large;
}


.obstaculo {
    position:absolute;
    bottom: 0;
    width: 200px;
    animation: obstaculo-animation 3s infinite linear;

}
  

.pessoa { 
 width: 150px;
 position:absolute;
 bottom: 0px;
}


.fundo{
    position:absolute;
    width: 550px; 
    animation: fundo-animation 20s infinite linear;
}

.jump{
    animation: jump-pessoa 500ms ease-out;
}

@keyframes obstaculo-animation {
    from{
    right: -80px   

    }
    to {
     right: 100%;
    }
}


    

@keyframes fundo-animaton{
    from { right: -550px;}

    to{ right: 100%;}
}
 
.jump{
    animation: jump 1.1s linear;
}

@keyframes jump {
    0% {bottom:0;
    }

    30%{bottom: 80px;
    }
 
    50%{bottom: 100px;
    }

    60%{bottom: 80px;
    }

    100%  {bottom: 0;
    }
    

}

