*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

.game-board {

width: 80%;
height: 500px;
border: 1px solid #333;
margin: 0 auto

}

.obstaculo {
    position:absolute;
    bottom: 0;
    width: 0px;
    right: 0 auto;
 animation: obstaculo-animation 2s infinite linear; 

}

    
@keyframes obstaculo-animation {
    from{
    right: 0    

    }
    to {
     right: 100%;
    }

}
    

 

 

